  /* Footer Section */
  .footer {
    text-align: center;
    padding: 2rem 0;
    background-color: lightgrey;
    border-top: 3px solid #1e1e1e;

    overflow-x: hidden;
  }
  
  .footer p {
    font-size: 1rem;
    color: #1e1e1e;
  }
  