  /* Footer Section */
  .footer {
    text-align: center;
    padding: 2rem 0;
    background-color: #fff;
    border-top: 1px solid #ccc;
  }
  
  .footer p {
    font-size: 1rem;
    color: #777;
  }
  