/* Homepage Styles */
  
  /* Main Section */
  .main {
    padding: 4rem 0;
  }
  
  .book-overview {
    width: 50%;
    float: left;
    padding-right: 2rem;
  }
  
  .img {
	  width: 50%;
	  height: 50%;
  }
  
  .book-cover-container img {
    width: 100%;
    float: right;
  }
    
/* Resources Section */
.resources {
  display: grid;
  grid-template-columns: 1fr;  /* Ensure the items are stacked in a single column */
  gap: 1rem;  /* Adds space between each link */
  background-color: #f9f9f9;  /* Background color (optional) */
  margin: 30px;
}

/* Resource Links */
.resources .resource-link {
  color: #1e1e1e;
  text-decoration: none;
  text-decoration: underline;
}

/* Hover Effect */
.resources .resource-link:hover {
  color: goldenrod;
}
