/* Homepage Styles */
  
  /* Main Section */
  .main {
    padding: 4rem 0;
  }
  
  .book-overview {
    width: 50%;
    float: left;
    padding-right: 2rem;
  }
  
  .img {
	  width: 50%;
	  height: 50%;
  }
  
  .image-container {
    width: 45%;
    float: right;
  }
  
  .neuro-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Resources Section */
  .resources {
    padding: 3rem 0;
    background-color: #f7f7f7;
  }
  
  .resources .resource-link {
    display: block;
    margin: 1rem 0;
    color: #333;
    text-decoration: none;
  }
  
  .resources .resource-link:hover {
    color: #007BFF;
  }
  
  .nav-links-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-links {
    display: flex;
    gap: 10px; /* Adjust spacing between buttons */
}